<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294715934428-0464n0t3ruh2jcet1uf2ips9pcbg4oor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294715934428-0464n0t3ruh2jcet1uf2ips9pcbg4oor</string>
	<key>API_KEY</key>
	<string>AIzaSyBXXWBUoC0GYbDbfAKtlPxn5PPJm5YSJYI</string>
	<key>GCM_SENDER_ID</key>
	<string>294715934428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hihome.seller</string>
	<key>PROJECT_ID</key>
	<string>hihome-seller</string>
	<key>STORAGE_BUCKET</key>
	<string>hihome-seller.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294715934428:ios:c540a0041bf37129c45619</string>
	<key>DATABASE_URL</key>
	<string>https://hihome-seller.firebaseio.com</string>
</dict>
</plist>